/* Colores corporativos InGen (Negro, Ámbar/Naranja, Gris oscuro) */
body {
    background-color: #121212 !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dino-card {
    background-color: #1e1e1e;
    border: 1px solid #444;
    transition: transform 0.2s;
}

.dino-card:hover {
    transform: scale(1.02);
    border-color: #ffc107;
}

.alerta-roja {
    border-left: 5px solid #dc3545 !important;
}

.alerta-verde {
    border-left: 5px solid #198754 !important;
}